body {
    font-family: Arial, sans-serif;
}
.navbar{
    background-color: white!important;
}
.navbar li a{
    padding: 0.5rem 2rem!important;
}
.navbar li a:hover,
.navbar li a.active{
    border: 1px solid #FB585A;
    background-color: #FB585A;
    color: white!important;
}
.header, .footer {
    background-color: white;
    padding: 20px 0;
}
.header{
    height: 100vh;
}
.parent {
    margin-top:280px;
}
@media (max-width: 768px) {
    .parent{
        flex-direction: column-reverse!important;
    }
    .parent img{
        margin-top: -150px;
        max-width: 90%;
    }
    .parent h1{
        margin-left: 40px;
        margin-right: 40px;
        line-height: 1.6;
    }
    .parent p{
        margin-left: 30px;
        margin-right: 30px;
        text-align: center!important;
    }
    .parent .buttons{
        margin-left: 80px!important;
        margin-bottom: 80px!important;
    }
    .parent .one{
        margin-right: 10px;
    }
    .parent .one,.parent .two{
        padding: .75rem 1.5rem!important;
    }
    .features{
        margin-top: 150px;
    }
    .features .container ul{
        display: flex;
        flex-direction: column;
    }
    .features .container ul a{
        margin-bottom: 0!important;
    }
    .child{
        flex-direction: column-reverse!important;
    }
    .child img{
        margin-top: 50px;
        max-width: 90%;
    }
    .child h1{
        margin-left: 100px;
        text-align: center!important;
        margin-right: 70px;
    }
    .child p{
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 140px;
        text-align: center!important;
    }
    .child a{
        display: none;
    }
    .extensions .card{
        width: 80%;
        margin-left: 50px;
    }
    .faq .container p{
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .faq .accordion-item{
        width: 100%;
    }
    .faq a{
        margin-left: 200px!important;
        margin-bottom: 50px!important;
    }
    .subscribe p{
        margin: 0rem!important;
        padding: 1rem!important;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    form button,form input{
        width: 63%;
    }
    footer .orphan {
        display: flex;
        flex-direction: column;
    }
    footer .links{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 5px;
    }
    footer .links a{
        padding: 0;
        margin: 0;
    }
    footer .social{
        display: block;
        margin-top: 10px;
        text-align: center;
    }.navbar-collapse{
    background-color: #2F354F;
    width: 100%!important;
    height: 100vh;
        color: white!important;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul a{
        color: white;
        padding: 2rem!important;
    }
    .navbar ul a:hover{
        padding: 2rem 4rem!important;
        background-color: transparent !important;
        border-color: white !important;
    }
}

.hero-btn:hover{
    background-color: transparent;
}
.one{
    background-color: #5267DE;
    color: white;
}
.f-par{
    max-width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.two{
    background-color: #F7F7F7;
    color: black;
    border: none;
}
.lead{
    color: lightslategray;
}
.one:hover{
    color: blue!important;
    border: 1px solid black;
}
.two:hover{
    color: gray!important;
    border: 1px solid black;
}
.right span{
    position: relative;
}

/*  later  */
.right span::before{
    /* content: ''; */
    position: absolute;
    width: 600px;
    height: 400px;
    right: 0;
    bottom: -350px;
    background-color: #5266DF;
    border-bottom-left-radius: 200px;
    z-index: 1;
}
.nav-header li a{
    color: #7A797E!important;
    padding: 2rem;
    font-size: 22px;
    position: relative;
    margin-bottom: 40px;
}
.nav-header li a::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: gainsboro;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-header li:hover a::after{
    height: 4px;
    background-color: #EC787B;
}
.nav-header li:hover a {
    font-weight: bolder;
}
.child{
    gap: 60px;
}
.card{
    border: 0;
}
.d-margin{
    margin-top:6rem;
}
.card-body img{
    margin:3rem ;
}
.card-body span>img{
    width: 100%;
    margin-left:0;
}
.sm-lead{
    color: lightslategray;
    font-size: 12px;
    margin-bottom: 3rem;
}
.card-body .btn{
    margin-bottom:1.5rem;
}
.card .card-body a{
    width: 80%;
    /* padding-top:1.7rem; */
    text-align: center;
}
.accordion-item{
    width: 50%;
    margin: auto;
}
.accordion a{
    margin-top:3rem;
    margin-bottom:13rem;
    margin-left:18rem;
}
.subscribe{
    background-color: #5266DF;
}
.subscribe p{
    letter-spacing: 0.5rem;
    font-size: 12px;
    color: white;
    padding: 50px;
}
.subscribe h2{
    color: white;
    padding: 10px;
}
.subscribe form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.subscribe input{
    display: inline;
    width: 300px;
    height: 40px;
}
.subscribe input::placeholder{
    color: lightgrey!important;
}
.subscribe form button{
    display: inline;
    height: 40px;
    background-color:#FB585A;
    color: white;
}
.links {
    display: flex;
    gap: 40px;
}
.footer{
    background-color: #242946;
}
footer a{
    text-decoration: none;
    color: white;
}
footer svg {
    color: white;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}